<h1>Logged in as: </h1>

<fieldset class="signIn">

  <legend>SIGN IN:</legend>

    <label for="name">LOGIN:</label>
    <input type="text" class="login" ng-model="auth.myLogin" >

    <label for="name">PASSWORD:</label>
    <input type="password" class="password" ng-model="auth.myPassword" >

    <button type="submit" ng-click="auth.login(auth.myLogin, auth.myPassword)" >GO!</button>
    <button type="submit" ng-click="auth.createUser(auth.myLogin, auth.myPassword)" >CREATE USER</button>
    <button type="submit" ng-click="auth.signOut()" >SIGN OUT</button>


</fieldset>
